* {
    margin: 0;
    padding: 0;
    color: var(--text);
    text-decoration: none;
}

:root {
    --gradient: linear-gradient(90deg, #EDCA85 -2.79%, #F097AD 29.91%, #A16EEA 62.6%, #A0E2FE 95.3%);
    
    --primary: #1B2430;
    --secondary: #434669;
    --secondary-bg: #253344;
    --tertiary: #816797;
    --text: #FFFFFF;
    --text-alter: #FFFFFF;
    --text-2: #D6D5A8;
    
    --code-lavender: #D59DF6; 
    --code-cyan: #3B93FE; 
    --code-yellow: #FFC923; 
    --code-gray: #979B9E; 
    --code-green: #70F49C; 
    --code-orange: #DBB67B; 
    --code-red: #E25C54;

    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Consolas, monospace, sans-serif;
}

body {
    background: var(--primary);
}

body.light {
    --primary: #fff7f1;
    --secondary: #FAB483;
    --secondary-bg: #585655;
    --tertiary: #D67D3E;
    --text: #3D0E1E;
    --text-alter: #FFFFFF;
    --text-2: #db9461;
}

body.light header{
    background: rgba(105, 77, 67, 0.7);
}

header {
    position: fixed;
    z-index: 100;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(67, 70, 105, 0.7);
    backdrop-filter: blur(5px);
}
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Hamburger icon **/
.nav-burger {
    display: none;
    width: 35px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}
  
.nav-burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: var(--text-alter);
    border-radius: 5px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-burger span:nth-child(1) { top: 2px; }
.nav-burger span:nth-child(2) { top: 10px; }
.nav-burger span:nth-child(3) { top: 18px; }

.nav-burger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-burger.open span:nth-child(2) {
    opacity: 0;
    -webkit-transform: scaleX(0.1);
    -moz-transform: scaleX(0.1);
    transform: scaleX(0.1);
}
.nav-burger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu a{
    margin-right: 25px;
    color: var(--text-alter);
}
.menu a:not(.menu-logo){
    padding: 10px 0 10px 0;
    transition: 0.1s ease;
}
.menu a:hover {
    filter: brightness(0.7);
}
.menu-logo {
    background-color: #1b2430;
    border-radius: 25%;
    box-sizing: border-box;
    overflow: hidden;
    height: 35px;
    padding: 5px;
}
.menu-logo img {
    height: 100%;
}
.disabled-menu {
    /* pointer-events: none; */
    color: currentColor;
    filter: brightness(0.7);
}
/*
.disabled-menu:hover::after {
    content: 'Keep scrolling!';
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    display: block;
    width: max-content;
    background: rgb(0, 0, 0);
}
*/

/* Collapsed nav query */
@media screen and (max-width: 550px) {
    .menu {
        justify-content: space-between;
    }
    .menu a:not(.menu-logo){
        display: none;
    }
    .menu a{
        margin-left: 25px;
    }
    .nav-burger {
        display: block;
    }
    .menu.open {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .menu.open a:not(.menu-logo){
        display: block;
        margin-top: 5px;
    }
    .menu.open .menu-logo {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 13px;
    }
    .menu.open .nav-burger {
        align-self: end;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
}


.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** Front page **/
.front-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lang-mode {
    position: absolute;
    top: 65px;
    right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.lang-mode span {
    color: var(--text-2);
    cursor: pointer;
    transition: 0.1s ease;
    margin-left: 15px;
    padding: 5px;
}
.lang-mode span:hover {
    filter: brightness(0.7);
}
.lang-mode svg{
    height: 1.1rem;
    fill: var(--text-2);
    margin-bottom: -3px;
}
.wrapper {
    width: min-content;
}
.front-page h1 {
    background: linear-gradient(-45deg, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient 15s linear infinite;
    
    font-weight: 700;
    font-size: 3rem;
    mix-blend-mode: difference;
}
.front-page p {
    margin-top: 18px;
    font-size: 1.25rem;
    min-width: 270px;
    mix-blend-mode: overlay;
}
.chevron-cont {
    visibility: hidden;
    position: absolute;
    height: 50px;
    bottom: 75px;
}
.chevron {
    border-radius: 50%;
    padding: 7px;
    height: 50px;
    bottom: 75px;
    transition: 0.1s ease;
    stroke: var(--text);
}
.chevron:hover {
    background-color: var(--secondary);
    stroke: var(--text-alter);
}

/** Title **/
.title {
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    max-width: 100%;
}
.title-directory {
    display: flex;
    align-items: center;
}
.title-directory p{
    margin-left: 12px;
    color: var(--text-alter);
}
.title svg {
    height: 25px;
    fill: var(--text-alter);
    margin-top: 5px; /*Adjustment*/
}
.title > span {
    color: var(--text-alter);
}

/** Cards **/
.card {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg);
    min-height: fit-content;
    max-width: 700px;
    width: 90vw;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 15px 10px 20px 10px;
    font-size: 15px;
    margin-top: 50px;
}
.card-code {
    padding: 0;
    border-radius: 0 0 7px 7px;
    padding-bottom: 20px;
    position: relative;
}
code {
    padding: 15px 10px 0 10px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.lavender{color: var(--code-lavender);}
.cyan{color: var(--code-cyan);}
.yellow{color: var(--code-yellow);}
.gray{color: var(--code-gray);}
.green{color: var(--code-green);}
.orange{color: var(--code-orange);}
.red{color: var(--code-red);}

.run {
    align-self: center;
    padding: 10px;
    width: 20%;
    min-width: fit-content;
    text-align: center;
    background-color: var(--tertiary);
    color: var(--text-alter);
    border-radius: 7px;
    bottom: 20px;
    margin-top: 15px;
    left: calc(50% - 10% - 10px);
    font-size: 18px;
    cursor: pointer;

    transition: 0.2s ease;
}
.run:hover {
    filter: brightness(1.1);
}
.run:active {
    transform: scale(0.95);
    filter: brightness(0.9);
}
.run svg {
    margin-right: 7px;
    fill: var(--text-alter);
}
.card h2 {
    align-self: center;
    width: fit-content;
    position: relative;
    bottom: calc(15px + 25px);
    
    font-size: 40px;
    background: linear-gradient(-45deg, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: gradient 15s linear infinite;
}

.about-me, .projects {
    align-items: center;
}

/** About Me **/
/* .card.about-me {
    transition: 2s ease-in-out;
}
.card.about-me:nth-child(even) {
    align-self: flex-end;
    transform: translateX(-10vw);
}
.card.about-me:nth-child(odd) {
    align-self: flex-start;
    transform: translateX(10vw);
}

.card.projects > div:nth-child(odd) {
    align-self: flex-end;
}
.card.projects > div:nth-child(even) {
    align-self: flex-start;
}
#\31, #\33 {
    margin: auto;
    width: 65vw;
    max-width: 1000px;
    min-width: fit-content;
} */

.about-me img {
    width: 100%;
    max-width: 275px;
    margin-bottom: 25px;
}
.about-me h3 {
    font-size: 20px;
    color: var(--text-2);
    margin-bottom: 10px;
}
.about-me p {
    font-size: 17px;
    color: var(--text-alter);
    margin-top: 25px;
}

/** Skills **/
.skills h3 {
    font-size: 20px;
    color: var(--text-alter);
}
.skills-container {
    width: 100%;
    margin: 10px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
}
.skills-container img {
    transition: 0.2s;
    width: 60px;
}
/* Size correction for some iamges */
.skill-img.undersize img {
    width: 55px;
}
 /* Hover text (click for mobile) */
.skill-img {
    position: relative;
}
.skills-container img:hover, .skills-container img:active {
    scale: 0.9;
    transform: translateY(-10px);
}
.skill-img:hover::before, .skill-img:active::before {
    transition: 0.2s;
    display: block;
}

.skill-img::before {
    display: none;
    content: attr(data-hover);
    font-size: 14px;
    color: var(--text-alter);
    filter: brightness(0.8);
    text-align: center;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 0;
}

/** Projects **/
.projects {
    margin-top: 70px;
    background-color: transparent
}
.projects h2{
    position: relative;
    bottom: initial;
    top: 20px;
    z-index: 1;
}

/* Project Card */
.project-card{
    max-width: 500px;
    background: var(--secondary-bg);
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 25px;
}
.projects div:first-of-type .project-card{
    padding-top: 65px;
}
.project-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.project-header h3{
    font-size: 22px;
    width: fit-content;
    background: linear-gradient(-45deg, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe, #edca85, #f097ad, #a16eea, #a0e2fe);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: gradient 15s linear infinite;
}
.project-header p{
    font-size: 16px;
    width: max-content;
    color: var(--text-2);
}
.project-card img{
    margin-bottom: 15px;
    width: 100%;
}
.project-desc{
    margin-bottom: 15px;
    color: var(--text-alter);
}
.project-card h4{
    font-size: 20px;
    color: var(--text-2);
}
.project-techs{
    display: flex;
    flex-wrap: wrap;
}
.tech-display{
    background-color: white;
    padding: 7px;
    color: var(--secondary);
    font-weight: bold;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 10px;
}

.wip > * {
    filter: grayscale(0.8) brightness(0.8);
}

/** Contact **/
.contact {
    box-sizing: border-box;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: var(--secondary);
    font-size: 14px;
}
.contact h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.contact p:first-of-type {
    color: var(--text);
    filter: brightness(0.7);
    margin-bottom: 10px;
}
.contact p:last-of-type {
    margin-top: 30px;
    align-self: center;
}
.contact a {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}
.contact svg {
    fill: var(--text-2);
    width: 24px;
    margin-right: 10px;
}

/** Title moving gradient **/
@-webkit-keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/** Media queries **/
@media screen and (max-width: 500px) {
    #blob {
        top: 40%;
        right: -30%;
    }
}
@media screen and (min-width: 500px) {
    .front-page h1 {
        font-size: 4rem;
    }
}
@media screen and (min-width: 1000px) {
    .wrapper {
        width: 75vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper p{
        font-size: 1.5rem;
    }
    .wrapper h1 {
        font-size: 5rem;
        max-width: min-content;
    }
}
@media screen and (max-width: 500px) {
    .project-header h3{
        font-size: 20px;
    }
    .project-header p{
        font-size: 14px;
    }
}

/** Animated blob and 'polarizing' layers **/
.front-page-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    z-index: -1;
    background: var(--primary);
    mix-blend-mode: screen;
}
.front-page-mask-blob{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    z-index: -2;
    background: rgb(0, 0, 0);
    mix-blend-mode: multiply;
}
#blob{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;

    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    animation: blobMoveRot 15s ease 1s infinite normal none;

    z-index: -2;
    fill: rgb(255, 255, 255);
}
.front-page-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: -3;
    background: var(--gradient);
}
/** Light Mode variation **/
body.light .front-page h1{
    mix-blend-mode: normal;
}
body.light .front-page-color {
    background: var(--primary);
    mix-blend-mode: multiply;
}
body.light .front-page-mask-blob{
    background: rgb(255, 255, 255);
    mix-blend-mode: screen;
}
body.light #blob{
    fill: rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

@keyframes scaleIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blobMoveRot{
    0% {
        transform:  rotate(180deg);
    }
    20% {
        width: 50%;
        transform:  translate(-60%, -10%) rotate(30deg);
    }
    40% {
        width: 40%;
        transform:  translate(-50%, -70%) rotate(90deg);
    }
    60% {
        width: 60%;
        transform:  translate(0%, -10%) rotate(70deg);
    }
    80% {
        width: 50%;
        transform:  translate(30%, 10%) rotate(120deg);
    }
    100% {
        transform:  rotate(180deg);
    }
}

/** Spinner (taken from Tobias Ahlin SpinKit) **/
.transparent {
    transition: 0.25s ease;
    opacity: 0;
}

.spinner {
    position: absolute;
    left: calc(50% - 35px);
    bottom: 50%;
    /* margin: 100px auto 0; */
    width: 70px;
    text-align: center;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: var(--text-alter);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
         transform: scale(0);
    } 40% { 
         -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}